@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
}

body {
	@apply bg-surface-100;
}

.dark body {
	@apply bg-surface-900;
}

.hero-gradient {
	@apply absolute top-0 -z-20 h-full w-full bg-gradient-to-b from-tertiary-300 to-primary-500;
	-webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.75), transparent 95%);
	mask-image: radial-gradient(rgba(0, 0, 0, 0.75), transparent 95%);
}

.dark .hero-gradient {
	@apply absolute top-0 -z-20 h-full w-full bg-gradient-to-br from-primary-900/50 to-surface-900;
	mask-image: none;
	-webkit-mask-mage: none;
}
